<!DOCTYPE html>
<html lang="en">

<head>
    <title>HDXW_list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        // flush website
        setInterval(function(){
            location.reload();
        }, 1000*60*5);
    </script>
</head>

<body>
    <h1>新闻数据</h1>
    <table>
        <tr>
            <th>title</th>
            <th>url</th>
        </tr>
        {% for i in r %}
        <tr>
          <td><a href=" {{i[1] }}">{{i[0]}}</a></td>
          <td>{{ i[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>TBC...</h2>
</body>

</html>